<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>CMPE281 - LAB1</title>

    <!-- CSS (load bootstrap from a CDN) -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            padding-top: 50px;
        }
    </style>
</head>

<body class="container">

    <main>
        <div class="jumbotron">
            <div class="nav justify-content-center">
                <h2 class="mb-4 mx-auto">CMPE 281 - Cloud Computing!</h2>
            </div>
            <img src="https://www.thebalancesmb.com/thmb/opn3cUYAX4Mib7p9DnnFix0b9jE=/3437x2578/smart/filters:no_upscale()/cloud-computing-502462262-5ac1130e119fa800371ba0a8.jpg" class="img-fluid" alt="Responsive image">
        </div>
    </main>

    <footer>
        <p class="text-center text-muted">© Copyright 2020 Tosha Kamath - 013836472</p>
    </footer>

</body>

</html>